
# Minio Config:
MINIO_ROOT_USER= your username
MINIO_ROOT_PASSWORD=your minio password
MINIO_ENDPOINT=http://spark-minio:9000


# BackBlaze Cloud Config:
B2_SECRET_KEY= your Key ID
B2_ACCESS_KEY= your Access Key ID 
B2_ENDPOINT=https://s3.us-east-005.backblazeb2.com # from your bucket setting 
B2_REGION=us-east-005

# ---------- Spark ----------
SPARK_MASTER_URL=spark://spark-master:7077